.mainContainer{
    /* border: 1px solid red; */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: center;
    gap: 14px;
}
.sort_filter_div{
    /* border: 1px solid red; */
    height: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

}
.sort_filter_div div{
    /* border: 1px solid red; */
    width: 18%;
}
.sort_filter_div div select{
    /* border: 1px solid red; */
    height: 2rem;
    width: 55%;
    border-radius: 5px;
}
.innerContainer{
    border: 1px solid red;
    border-radius: 5px;
    height: 25rem;

}
.innerContainer img{
    margin-top: 2rem;
    height: 10rem;
    width: 40%;
}